<%= form_with model: @post do |form|  %>
    Title: <%= form.text_field :title %>

    <div class='mb-3 col-md-2'>
        <%= form.label :image %>
        <%= form.file_field :image, accept: 'image/png, image/jpg, image/jpeg', class: 'form-control' %>
    </div>

    Body: <%= form.text_field :body %>
    
    <%= form.submit %>
<% end %>
